<div class="card">
  <div class="card-header">
    <div class="card-header-title is-centered">
      <%= event.title %>
    </div>
  </div>

  <div class="card-content">
    <%= event.body %>
  </div>

  <div class="card-footer">
    <div class="card-footer-item">
      <%= event.date %>
    </div>
    <div class="card-footer-item">
      <%= event.location %>
    </div>
    <% if user_signed_in? %>
      <%= render 'shared/attend_button', event: event %>
    <% end %>
  </div>
</div>
