<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div class="notification is-warning content">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field is-grouped">
    <div class="control">
    <%= form.text_field :title, class: "input ", placeholder: "Event Title" %>
    </div>
    <div class="control">
    <%= form.text_field :location, class: "input", placeholder: "location" %>
    </div>
    <div class="control">
    <%= form.date_field :date, class: "input" %>
    </div>
    <div class="select">
    <%= form.select :status, ['public', 'private'], selected: 'public' %>
    </div>
    </div>

    <div class="control">
    <%= form.text_area :body, class: "textarea ", placeholder: "Event Description" %>
    </div>
    <br>
    <div class="field is-grouped">
    <div class="control">
    <%= form.submit "Save", class:"button is-success" %>
    </div>
    <div class="control"> 
    <%= link_to "Back to events", events_path, class: "button is-link"%>
    </div>
    </div>
<% end %>
