<p style="color: green"><%= notice %></p>

<%= render @event_attending %>

<div>
  <%= link_to "Edit this event attending", edit_event_attending_path(@event_attending) %> |
  <%= link_to "Back to event attendings", event_attendings_path %>

  <%= button_to "Destroy this event attending", @event_attending, method: :delete %>
</div>
